<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.kauppa_appi">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="33" />
    <application android:label="Kauppa_Appi.Android" android:theme="@style/MyTheme"
				 android:icon="@mipmap/ic_launcher"
				 android:roundIcon="@mipmap/ic_launcher_round"></application>
    
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!--kalenteriin nämä luvat:-->
	<!--<uses-permission android:name="android.permisson.READ_CALENDAR"/>-->
	<!--<uses-permission android:name="android.permission.WRITE_CALENDAR"/>-->



	<!--Sovelluksen kuvakkeen säädöt-->
	<!--<adaptive-icon xmlns:android="http://schemas.android.com/apk/res/android">
		<background android:drawable="@color/ic_launcher_background" />
		<foreground android:drawable="@mipmap/ic_launcher_foreground" />
	</adaptive-icon>-->
	
</manifest>
